.slider {
  margin: auto;
  position: relative;
  margin-top: 60px;
  overflow: hidden;
  max-width: 1210px;

  @media (max-width: 1024px) {
    max-width: 800px;
  }

  @media (max-width: 1024px) {
    max-width: 800px;
  }

  @media (max-width: 768px) {
    max-width: 387px;
  }

  &-line {
    display: flex;
    position: relative;
    left: 0;
    width: 100%;
    gap: 27px;
    transition: 0.5s;
  }

}

.arrow {
  cursor: pointer;
  &-left {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    z-index: 3;
    left: -10px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
    background: #EAEAEA;
    border-radius: 50%;

    @media (max-width: 1024px) {
      left: 90px;
    }

    @media (max-width: 475px) {
      left: -10px;
    }
  }

  &-rigth {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    z-index: 3;
    right: -10px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
    background: #EAEAEA;
    border-radius: 50%;
    
    @media (max-width: 1024px) {
      right: 90px;
    }

    @media (max-width: 475px) {
      right: -10px;
    }
  }
}