.about-writers {
  margin-top: 120px;
  margin-bottom: 120px;

  @media (max-width: 768px) {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 40px;
    margin-top: 60px;

    @media (max-width: 991.98px) {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 40px;
    }

    @media (max-width: 630.98px) {
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
    }
  }
}