.btn {
  color: #FFB703;
  border: 3px solid #FFB703;
  font-weight: 600;
  font-size: 18px;
  line-height: 22.5px;
  padding: 19px 40px;
  letter-spacing: 0.01em;
  text-decoration: none;
  background-color: transparent;
  transition: 0.3s ease-in-out;

  &:hover {
      background: #FFB703;
      color: #fff;
  }
}
